/* reset e estilos gerais*/

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style-type: none;
}

body {
    font-family: Bahnschrift Light, sans-serif;
    color: #8d8d8d;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1080px;
}

.flex {
    flex: 1;
    margin: 0 60px;
}

/* topo */

.header {
    width: 100%;
    background: #252525;
    position: fixed;
    top: 0;
    z-index: 1;
}

.topo {
    padding: 10px 0;
}

.topo-nav {
    align-self: center;
}

.topo-nav ul {
    display: flex;
    justify-content: flex-end;
}

.topo-nav a {
    color: #8d8d8d;
    padding: 52px 20px 60px 20px;
    text-transform: uppercase;
    font-size: 1.125em;
}

.topo-nav a:hover {
    background: #8d8d8d;
    color: #252525;
}

.mobile {
    display: none;
}

.modal-menu {
    display: none;
}

.topo-nav .active a{
    background: #8d8d8d;
    color: #252525;
}

/* introducao */

#home {
    background: url('../img/flor.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2.5vw;
    height: 100vh;
}

.home-logo {
    font-size: 3.75em;
    margin-bottom: 40px;
}

#home h1 {
    font-size: 3.75em;
    padding-bottom: 15px;
}

#home h2 {
    font-size: 1.875em;
}

#home h2::after {
    content: '';
    display: block;
    width: 200px;
    height: 3px;
    background: #8d8d8d;
    margin: 40px auto;
}

/* sobre */

#sobre {
    background: url('../img/flor.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0 200px 0;
}

.sobre-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-foto img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 5px solid #8d8d8d;
}

.sobre-icones {
    width: 260px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 1.875em;
}

.sobre-icones a {
    cursor: pointer;
}

.sobre-descricao h1 {
    font-size: 3.75em;
    text-transform: capitalize;
}

.sobre-descricao h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #8d8d8d;
    margin-bottom: 60px;
}

.sobre-descricao p {
    font-size: 1.5625em;
    margin-top: 40px;
}

/* portfolio */

.portifolio-img img {
    display: block;
    float: left;
    width: 33.333%;
}

.portifolio-img img:hover {
    opacity: 0.8;
}

.portfolio-descricao {
    clear: both;
    background: url('../img/l4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.portfolio-descricao-interno {
    flex-direction: column;
    padding: 400px 0 100px 60px;
}

.portfolio-descricao-interno h1 {
    font-size: 3.125em;
    text-transform: capitalize;
}

.portfolio-descricao-interno h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #8d8d8d;
    margin-bottom: 60px;
}

.portfolio-descricao-interno p {
    width: 500px;
    font-size: 1.5625em;
}

/* contato */

#contato {
    padding: 100px 0 200px 0;
    background: url('../img/flor.jpg') no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.contato-form h1 {
    font-size: 3.125em;
}

.contato-form h1::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #8d8d8d;
    margin-bottom: 40px;
}

.contato-form form {
    display: flex;
    flex-direction: column;
}

.contato-form input {
    font-family: Bahnschrift Light, sans-serif;
    padding: 10px;
    background: transparent;
    margin: 5px 0;
    border: 3px solid #8d8d8d;
    outline: none;
    color: #8d8d8d;
    font-size: 1.1em;
}

.contato-form textarea {
    font-family: Bahnschrift Light, sans-serif;
    padding: 10px;
    background: transparent;
    border: 3px solid #8d8d8d;
    outline: none;
    color: #8d8d8d;
    font-size: 1.1em;
    resize: none;
}

.contato-form button {
    padding: 10px 0;
    margin-top: 20px;
    background: #8d8d8d;
    border: 3px solid #8d8d8d;
    font-size: 1.1em;
    color: #252525;
    cursor: pointer;
    outline: none;
}

.contato-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
}

.contato-cont p {
    margin: 10px 0;
}

/* footer */

.footer {
    padding: 50px 0;
    text-align: center;
    background: #252525;
}

.footer h2 {
    font-size: 2.5em;
    padding: 10px 0 20px 0;
}

.footer a {
    font-size: 1.5em;
    padding: 10px;
    color: #8d8d8d;
}

/* responsivo */

@media only screen and (max-width: 769px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* menu */

@media only screen and (max-width: 769px) {
    .desk {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .topo {
        width: 100%;
        flex-direction: row;
    }
    .topo-logo {
        font-size: 1.875em;
        display: flex;
    }
    .topo-bars {
        display: flex;
        justify-content: flex-end;
        font-size: 1.875em;
    }
    #modal-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #252525;
        opacity: 0.96;
        margin-top: 50px
    }
    #modal-menu-nav {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #modal-menu-nav a {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        line-height: 100px;
        color: #8d8d8d;
    }
    /* intro */
    @media only screen and (max-width: 769px) {
        #home {
            margin-top: 0;
            text-align: center;
        }
    }
    /* sobre */
    @media only screen and (max-width: 769px) {
        .sobre-foto {
            padding-bottom: 60px;
        }
        .sobre-descricao h1::after {
            margin: 0 auto;
        }
    }
    /* portfolio */
    @media only screen and (max-width: 769px) {
        .portifolio-img img {
            width: 100%;
        }
        .not {
            display: none;
        }
        .portfolio-descricao-interno h1::after {
            margin: 10px auto 20px auto;
        }
    }
    @media only screen and (max-width: 560px) {
        .portfolio-descricao-interno p {
            max-width: 300px;
        }
    }
    /* contato */
    @media only screen and (max-width: 769px) {
        .contato-form {
            padding-bottom: 60px;
        }
        .contato-form h1::after {
            margin: 10px auto 20px auto;
        }
        .contato-cont {
            max-width: 450px;
        }
    }}